
@{
 var val = @ViewBag.validGroup;
}

<div data-active-color="white" data-background-color="black" data-image="~/img/sidebar-bg/01.jpg" class="app-sidebar">
        <div class="sidebar-header">
          <div class="logo clearfix"><a asp-action="index" asp-controller="Admin" class="logo-text float-left">
              <div class="logo-img"><img src="~/img/logo.png" alt="Convex Logo"/></div><span class="text align-middle">Hr System</span></a>
              <a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none">
                   </a></div>
        </div>
        <div class="sidebar-content">
          <div class="nav-container">
             <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item home"><a href="#"><i class="icon-home"></i><span data-i18n=""
                   class="menu-title">Dashboard</span></a>
                </li>
                <li class="has-sub nav-item">
                   <a href="#"><i class="icon-users"></i><span data-i18n="" class="menu-title"> Employees</span></a>
                   <ul class="menu-content">
                      <li> <a asp-action="employees" asp-controller="Admin"  class="menu-item"> <i class="icon-bar"></i> Employees Statistics</a>
                      </li>
                        @if (val.Emp_Add)
                        {
                            <li><a asp-action="addemployee" asp-controller="Admin"  class="menu-item">Add Employee</a>

                            </li>
                        }

                   </ul>
                </li>
                
               @if (val.Group_Edit)
                {
                    <li class=" nav-item"><a asp-action="annualvacation" asp-controller="Admin" ><i class="icon-note"></i><span data-i18n="" class="menu-title">
                                Annual Vacation</span></a>
                </li>
                }
                 @if (val.Attend_show)
                {
                    <li class=" nav-item"><a asp-action="attendancedeparture" asp-controller="Admin" ><i class="icon-support"></i><span data-i18n="" class="menu-title">
                                Attendance</span></a>
                    </li>
                }
                <li class=" nav-item"><a asp-action="salaryreport" asp-controller="Admin"><i class="icon-layers"></i><span data-i18n="" class="menu-title">Salary report</span></a>
                </li>
                 @if (val.User_show)
                {
                    <li class=" nav-item" id="hide" ><a asp-action="users" asp-controller="Admin"><i class="icon-users"></i><span data-i18n="" class="menu-title">Users</span></a>
                    </li>
                }
                 @if (val.Group_show)
                {
                    <li class=" nav-item" id="hide2" ><a asp-action="permissions" asp-controller="Admin"><i class="icon-equalizer"></i><span data-i18n="" class="menu-title">Permissions</span></a>
                    </li>}
                
             </ul>
          </div>
       </div>
        <div class="sidebar-background"></div>
      </div>